.category {
    font-size: 22px;
    margin-bottom: 20px;
}
.date {
    font-size: 18px;
    margin-bottom: 15px;
}
.article {
    font-size: 16px;
    margin-bottom: 15px;
}


.newsCards{
    padding: 20px 0;
}
.news-image{
    text-align: center;
    margin-bottom: 20px;
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
}
.buttons{
    display: flex;
    justify-content:right;
    padding-right: 10px;
    
}
.line1{
    display: flex;
    justify-content:space-around;
    padding-right: 10px;
    align-items: baseline;
    color: rgb(89, 24, 23);
    
}
.article{
    font-size: 28px;
}