.category {
    font-size: 22px;
    margin-bottom: 20px;
}
.date {
    font-size: 18px;
    margin-bottom: 15px;
}
.article {
    font-size: 16px;
    margin-bottom: 15px;
}
.newsCards {
    margin-left: 50px;
}
.btn-newsListItem {
    display: flex;
    justify-content: center;
}
.newsCards{
    padding: 20px 0;
}