.footer-title{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    height: 120px;
    background: #faf7f6;

    gap: 15px;
}